
<div class="container col-md-6">
    <div class="image">
        <img src="../../../assets/images/prologo.png"/>
    </div>
    <div class="heading">
        <h4>Login To Admin Panel</h4>
    </div>
    <form>
        <div class="form-group">
          <label for="email">User Name :</label>
          <input type="email" class="form-control" id="email"  formControlName="userName">
        </div>
        <div class="form-row">
          <div class="form-group ">
            <label for="password">Password :</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          
        </div>
        <div class="button">
            <button type="submit" class="btn btn-lg" routerLink="/admin" >Login to Admin</button> 
        </div>    
        
    </form>
        
</div>