
<div class="row">
    <div class="col">
        <!-- <h3>Hello {{data.displayName}}</h3> -->
        Name : Upasara Sam
    </div>
    <div class="col">
        <!-- <p>Phone no: {{data.phone}}</p> -->
        Phone : 0123456789
    </div>
    <div class="col">
        <!-- <p>Address: {{data.address}}</p> -->
        Delivary Address : 125/4,Homagama
    </div>
    <div class="col">
        <a href="" class="btn btn-danger btn-sm" (click)="logout()">Logout</a>
    </div>
</div>

<div id="chat-box">
    <div id="chat-window">
      <div id="output">
          <p><strong>{{displayName}}</strong></p>
      </div>
      <div id="feedback"><p> {{displayMsg}}</p></div>
      <div id="feedback"><p> {{displayMsg}}</p></div>
    </div>
    <input id="handle" type="text" #box  name="name" placeholder="Name" />
    <input id="message" type="text" #box2 name="msg" placeholder="Message" autocomplete="off"  />
    <button type="button" id="send" style="cursor: pointer;" (click)="getValue(box.value,box2.value)">Send</button>
</div>
