<div class="row">
  <div class="col">
      <h3>Name : {{data.displayName}}</h3>
  </div>
  <div class="col">
      <p>Phone no : {{data.phone}}</p>
  </div>
  <div class="col">
      <p> Delivary Address: {{data.address}}</p>
  </div>
  <div class="col">
      <a href="" class="btn btn-danger btn-sm" (click)="logout()">Logout</a>
  </div>
</div>


<!-- order table -->
<div class="container">

    <table class="table ">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <td></td>
            <td><a href="" class="btn btn-sm" (click)="order()" routerLink="/cart" id="orderbtn">Order Now</a></td>
          </tr>
        </tbody>
      </table>

</div>

<div class="container" id="cash">
  <h5>Cash On Delivary</h5>
  <h6>You can pay after the Item has been delivered...!</h6>
</div>
