/* logout panel */
.row{
    background-color: rgb(126, 124, 167);
    padding: 10px;
}


/* table css */
table{
    border: none;
}

#orderbtn{
    color: #000;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.container{
    margin-top: 30px;
}

#cash{
    margin-top: 80px;
    text-align: center;

}

h6{
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
    color: var(--secondary-color);
}

h5{
    font-weight: bold;
    font-size: 25px;
    color: red;
}