<nav class="navbar navbar-expand-lg " style="background-color: #B9B9B9">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Rathaya</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="cart" routerLinkActive="active-link">Cart</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select Vehicle
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="cycle" routerLinkActive="active-link">Motor Cycle</a></li>
              <li><a class="dropdown-item" routerLink="three-wheel" routerLinkActive="active-link">Three Wheel</a></li>
              <li><a class="dropdown-item" routerLink="car" routerLinkActive="active-link">Car</a></li>
              <li><a class="dropdown-item" routerLink="van" routerLinkActive="active-link">Van</a></li>
              <li><a class="dropdown-item" routerLink="lorry" routerLinkActive="active-link">Lorry</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>