
<div class="banner">
    <div class="content">
        <h1>Any Kind <br>of<br> Vehicle Auto Parts</h1>
        <!-- here change the routerLink  -->
        <a routerLink="register" class="btn btn-outline-warning rounded-pill">Register Here&nbsp;<i class="bi bi-person-square "></i></a>&nbsp;&nbsp;
        <a routerLink="login" class="btn btn-outline-success rounded-pill">Log In Here&nbsp;<i class="bi bi-person-square "></i></a>
    </div>
</div>

<div class="container">
    <p>First, you have to create an Account using above Register button.<br>
    If you already registered, login to your account using above login button</p>
</div>
