
<div class="container-fluid footer mt-5 bg-dark">
    <div class="row ">

        <div class="col-lg-6 ">
            <div class="first"><h4>Rathaya</h4></div>
        </div>

        <div class="col-lg-4">
            <a routerLink="/home">Home</a>
            <a routerLink="/cart">Cart</a>
            <a routerLink="/contact">Contact</a>
        </div>

        <div class="col-lg-2">
            <a href="#" class="btn btn-outline-secondary"><i class="bi bi-facebook"></i></a>
            <a href="#" class="btn btn-outline-secondary"><i class="bi bi-instagram"></i></a>
            <a href="#" class="btn btn-outline-secondary"><i class="bi bi-twitter"></i></a>
        </div>

    </div>
</div>